<div class="parent-container">
    <div class="header-container">
        {{> navbar}}
    </div>

    <div class="name-container-1">
        <div class="name-container-2">
            <h1 id="shop-name"><a href="/establishment_owner_response" class="establishment-link">Weclean Laundry Shop</a></h1>
        </div>
    </div>

    <div class="menu-container">
        {{> slidebar}}
        
        <section>
            <!-- Description Content -->
            <div class="content content-1">
                <div class="rate-tag-container">
                <img src="image/althea/ribbon.png" alt="" class="ribbon" />
                <span class="rate-desc">{{Weclean.rate_desc}}</span>
                </div>

                <div class="operating-hours-container">
                <img src="image/althea/clock.png" alt="" class="clock" />
                <div class="time">
                    <span class="time-1">{{Weclean.timein}}</span>
                    <span class="time-2">{{Weclean.timeout}}</span>
                </div>
                </div>

                <div class="contact-info-container">
                <img src="image/althea/contact.png" alt="" class="contact" />
                <div class="contact-info">
                    <span class="contact-1"
                    ><a href="{{Weclean.link}}"
                        >Weclean</a
                    ></span
                    >
                    <span class="contact-2">0{{Weclean.mobnum}}</span>
                </div>
                </div>

                <div class="map-container">
                <div class="address">
                    <img src="image/althea/map.gif" alt="" class="map-logo" />
                    <span class="location">
                    {{Weclean.address}}
                    </span>
                </div>
                <img src="{{Weclean.map_img}}" alt="" class="actual-map" />
                </div>
            </div>

            <!-- Review Content -->
            <div class="content content-2">
                <div class="review-header">
                    <span class="number-rating">{{Weclean.ave_rating}}.0</span>
                    <div class="star-rating">
                        <div class="starsRating"> {{{generateStars Weclean.ave_rating}}}</div>
                    </div>
                    <span class="total-rating">All ratings (<span class="countRate">{{Weclean.totalNoRating}}</span>)</span>
                </div>

                <div class="review-container">
                    {{#each reviews}}
                        <div class="review-parent-container">
                            <div class="review-1"> 
                                <div class="user-review-header-1">
                                    <img src="{{profile_pic}}" alt="profile" class="profile-img">
                                    <span class="username-1">{{username}}</span>
                                    <div class="stars"> {{{generateStars rating}}}</div> 
                                    <span class="date">{{date}}</span>
                                </div>

                                <div class="user-review-title-1">
                                    {{title}}
                                </div>

                                <div class="user-review-comment-1">
                                    <p class="comment">
                                        {{content}}
                                    </p>
                                    <button class="show-more-btn">Show more...</button>
                                </div>

                                <div class="user-review-image-1">
                                    <img src="{{commentImg}}" alt="">
                                </div>
                                
                                <div class="user-review-actions-1">
                                    <img src="image/althea/like.png" alt="" class="like" onclick="toggleLike(this)">
                                    <h1 class="like-counter">{{likes}}</h1>
                                    <img src="image/althea/thumbsdown.png" alt="" class="dislike" onclick="toggleDislike(this)">
                                    <h1 class="thumbsdown-counter">{{dislikes}}</h1>
                                    <img src="image/althea/report.png" alt="" class="report" onclick="reportReview(this)">
                                    <img src="image/althea/comment.png" alt="" class="report" onclick="">
                                </div>
                            </div>

                            <div class="make-comments-container">
                                <div class="comment-input-container">
                                    <textarea id="commentInput" rows="4" cols="50" placeholder="Write your comment here..."></textarea>
                                    <button id="postCommentBtn">Post Comment</button>
                                </div>
                            </div>

                            {{#each replies}}
                                <div class="comments-container">
                                    <div class="user-review-header-1">
                                        <img src="{{profile_pic}}" alt="profile" class="profile-img">
                                        <span class="username-1">{{username}}</span>
    
                                        <span class="date">{{date}}</span>
                                    </div>

                                    <div class="user-review-title-1">
                                        {{title}}
                                    </div>

                                    <div class="user-review-comment-1">
                                        <p class="reply">{{content}}</p>
                                    </div>
                                    
                                    <div class="user-review-actions-1">
                                        <img src="image/althea/like.png" alt="" class="like" onclick="toggleLike(this)">
                                        <h1 class="like-counter">{{likes}}</h1>
                                        <img src="image/althea/thumbsdown.png" alt="" class="dislike" onclick="toggleDislike(this)">
                                        <h1 class="thumbsdown-counter">{{dislikes}}</h1>
                                        <img src="image/althea/report.png" alt="" class="report" onclick="reportReview(this)">
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>

            <!-- Create Review Content -->
            {{> content_3}}
        </section>
    </div>
</div>

<script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }
    document.addEventListener("DOMContentLoaded", function () {
        var profileImages = document.querySelectorAll(".profile-img");

        profileImages.forEach(function (profileImage) {
            profileImage.addEventListener("click", function () {
            var username = this.parentElement.querySelector(".username-1").innerText;

            var fileName = "/view_other_profile_" + username;

            window.location.href = fileName;
            });
        });

        var establishmentLink = document.querySelector(".establishment-link");

        establishmentLink.addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default action of following the link

            var fileName = "/establishment_owner_response_" + "AndresMulach"; //username of the owner
            console.log(fileName);

            // Perform your desired action, such as navigating to the new page
            window.location.href = fileName;
        });
    });
</script>